body {
  background-color: rgb(50, 184, 189);
  margin: 0;
  font-family: 'Kalam', cursive;
  font-size: larger;
  font-weight: bold;
  color: rgb(9, 43, 44);
}

code {

  font-family: 'Kalam', cursive;
  /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif,
    monospace; */
}

.login-form {
    
     
}
